<html>
  <head>
    <meta charset="utf-8" />
    <title>Vue Examples</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  </head>
  <body>
    <h1>Vue Examples 百見不如一打</h1>
    <div id="app">
      {{count}} times
      <button @click="increment">+1</button>
      <button @click="decrement">-1</button>
      <hr />
      <input type="checkbox" value="red" v-model="myChecks" />RED
      <input type="checkbox" value="green" v-model="myChecks" />GREEN
      <input type="checkbox" value="blue" v-model="myChecks" />BLUE
      <br />
      <ul>
        <li v-for="item in myChecks">{{item}}</li>
      </ul>
      <hr />
      <span v-bind:title="timemessage">
        hover mouse to see the title...
      </span>
      <hr />
      <p>Hours: {{hours}}</p>
      <p v-if="hours<12">Good Morning</p>
      <p v-if="hours >=18">Good Evening</p>
      <p v-if="hours >=12 && hours <18">Good Afternoon</p>

      <hr />
      <input type="text" v-model.lazy="myName" placeholder="John Doe" />
      <p>Greetings {{myName}}</p>

      <hr />
      <input type="text" v-model="price" type="number" />Won
      <p>Price including Tax: {{taxIncluded}}</p>
      <hr />
      <p>Text Maximum lenght: 140</p>
      <textarea cols="30" rows="10" v-model="myText"></textarea>
      <p v-bind:style="{color: computedColor}">
        {{remaining}} more letters allowed.
      </p>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          count: 0,
          myChecks: [],
          hours: new Date().getHours(),
          timemessage: "You loaded this on " + new Date().toLocaleTimeString(),
          myName: "",
          price: 0,
          myText: ""
        },
        methods: {
          increment: function () {
            this.count++;
          },
          decrement: function () {
            this.count--;
          }
        },
        computed: {
          taxIncluded: function () {
            return this.price * 1.08;
          },
          remaining: function () {
            return 140 - this.myText.length;
          },
          computedColor: function () {
            col = "green";
            if (this.remaining < 20) {
              col = "orange";
            }
            if (this.remaining < 1) {
              col = "red";
            }
            return col;
          }
        }
      });
    </script>
  </body>
</html>
